<div class="im">
  <u></u>

  <div style="margin: 0 !important; padding: 0 !important;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td width="100%" align="center" valign="top" bgcolor="#eeeeee" height="20"></td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee" align="center" style="padding: 0px 15px 0px 15px;">
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td align="center" style="padding: 40px 40px 0px 40px;">
                            <a href="<%= appLink %>"
                              target="_blank">
                              <img
                                src="<%= appIcon %>"
                                width="70" border="0" style="vertical-align: middle;" class="CToWUd" data-bit="iit" />
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td align="center"
                            style="font-size: 18px; color: #0e0e0f; font-weight: 700; font-family: Helvetica Neue; line-height: 28px; vertical-align: top; text-align: center; padding: 35px 40px 0px 40px;">
                            <strong><%= header %></strong>
                          </td>
                        </tr>

                        <tr>
                          <td align="center" bgcolor="#ffffff" height="1" style="padding: 40px 40px 5px;" valign="top"
                            width="100%">
                            <table cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td style="border-top: 1px solid #e4e4e4;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td class="m_7098034190793001046content"
                            style="font: 16px/22px 'Helvetica Neue', Arial, 'sans-serif'; text-align: left; color: #555555; padding: 10px 40px 0 40px;">
                            <p>Hi <%= sellerUsername %>,</p>
                            <p>The order extension request sent to <span style="font-weight: bold;"><%= buyerUsername %></span> was <%= type %>.</p>
                            <p><%= message %></p>

                            <p>
                              Thanks,<br />
                              The Jobber Team
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: 30px 0px;">
                              <tbody>
                                <tr>
                                  <td align="center" style="text-align: center;">
                                    <a bgcolor="#1dbf73" style="
                                    color: #ffffff;
                                    background-color: #4aa1f3;
                                    display: inline-block;
                                    font-family: Helvetica Neue;
                                    font-size: 16px;
                                    line-height: 30px;
                                    text-align: center;
                                    font-weight: bold;
                                    text-decoration: none;
                                    padding: 5px 20px;
                                    border-radius: 3px;
                                    text-transform: none;"
                                    href="<%= orderUrl %>">
                                      View Order
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td width="100%" align="center" valign="top" bgcolor="#ffffff" height="45"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
