<div>
  <div>
    <div style="margin: 0 !important; padding: 0 !important;">
      <div></div>
      <table cellspacing="0" cellpadding="0" style="width: 100%; border-spacing: 0; border-collapse: collapse;">
        <tbody>
          <tr>
            <td width="100%" align="center" valign="top" bgcolor="#eeeeee" height="20"></td>
          </tr>

          <tr>
            <td bgcolor="#eeeeee" align="center" style="padding: 0px 15px 0px 15px;">
              <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                <tbody>
                  <tr>
                    <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td align="center" style="padding: 40px 40px 20px 40px;">
                              <a href="<%= appLink %>" target="_blank">
                                <img src="<%= appIcon %>" width="70" border="0" style="vertical-align: middle;"
                                  class="CToWUd" data-bit="iit" />
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td align="center">
                              <h1
                                style="padding: 0; margin: 0; font-size: 20px; line-height: 140%; font-family: Arial, Helvetica, sans-serif; color: #272528; text-align: center;">
                                Hi <%= buyerUsername %>,</h1>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 5px; line-height: 5px;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="center">
                              <h2
                                style="padding: 0; margin: 0; font-size: 16px; line-height: 140%; font-weight: 500; font-family: Arial, Helvetica, sans-serif; color: #272528; text-align: center;">
                                <%= sellerUsername %> sent you a new Custom Offer.
                              </h2>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 20px; line-height: 20px;">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                      <table border="0" valign="top" align="center" width="100%"
                        style="border-collapse: collapse; text-align: left; padding: 40px 20px 0px 20px; margin: 0;" cellspacing="0"
                        cellpadding="0">
                        <tbody style="padding: 20px 40px 0px 40px;">
                          <tr>
                            <td style="height: 10px;"></td>
                          </tr>
                          <tr>
                            <td valign="middle" align="left" style="text-align: left;">
                              <p
                                style="border-top: 1px solid #d6d6d6; padding: 20px 20px 0px 20px; margin: 0; font-weight: 700; font-size: 16px; line-height: 140%; font-family: Arial, Helvetica, sans-serif; color: #0e0e0f;">
                                <%= title %></p>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 10px; line-height: 10px;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" style="text-align: left; padding: 20px 20px 0px 20px;">
                              <p
                                style="padding: 0; margin: 0; font-size: 14px; line-height: 140%; font-weight: normal; font-family: Arial, Helvetica, sans-serif; color: #272528;">
                                <%= description %>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 20px; line-height: 20px;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" style="text-align: left;"></td>
                          </tr>
                          <tr>
                            <td style="height: 10px; line-height: 10px;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td align="left" style="text-align: left; padding: 20px 20px 0px 20px;">
                              <ul
                                style="padding: 0; margin: 0; list-style: none; width: 100%; border-bottom: 1px solid #d6d6d6; padding: 0 0 10px 0; margin-bottom: 5px;">
                                <li
                                  style="margin: 0; padding: 0; display: inline-block; padding-right: 20px; padding-bottom: 10px;">
                                  <p
                                    style="margin: 0; padding: 0; font-size: 14px; line-height: 140%; font-family: Arial, Helvetica, sans-serif; color: #272528; text-transform: capitalize;">
                                    <span><%= deliveryDays %></span>
                                    days Delivery
                                  </p>
                                </li>
                              </ul>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 15px; line-height: 15px;">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                      <table width="100%" align="center"
                        style="margin: 0; padding: 0; width: 100%; border-collapse: collapse; text-align: center;"
                        cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td align="center" height="40" style="text-align: center; height: 40px;">
                              <a href="<%= offerLink %>" style="
                                  width: 100px;
                                  background-color: #4aa1f3;
                                  padding: 10px 35px;
                                  border-radius: 3px;
                                  text-align: center;
                                  font-size: 16px;
                                  line-height: 140%;
                                  font-weight: 500;
                                  font-family: Arial, Helvetica, sans-serif;
                                  color: #f9f9f9;
                                  text-decoration: none;
                                  margin: 0;"
                                target="_blank">
                                Order Now ($<%= amount %>)
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 20px; line-height: 20px;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td style="height: 20px; line-height: 20px;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td>
                              <div style="padding-top: 10px; text-align: center; font-family: arial;">
                                Thanks<br /><br />
                                The Jobber Team
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td style="height: 20px; line-height: 20px;">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
